# Nutrition Index Dataset

In [1]:
import pandas as pd
import numpy as np

nutrition = pd.read_csv('processed data/nutrition.csv').drop(['Unnamed: 0'], axis=1)
nutrition.head()

,spatialdimtype,spatialdim,parentlocation,dim1type,dim1,numericvalue,timedimensionvalue
0,COUNTRY,ALB,Europe,AGEGROUP,YEARS00-01,8.03751,2005
1,COUNTRY,ALB,Europe,AGEGROUP,YEARS02-05,5.91986,2005
2,COUNTRY,ALB,Europe,AGEGROUP,YEARS00-01,7.44554,2008
3,COUNTRY,ALB,Europe,AGEGROUP,YEARS02-05,5.68923,2008
4,COUNTRY,ALB,Europe,AGEGROUP,YEARS00-01,2.26349,2017

In [2]:
nutrition.dim1type.value_counts(dropna=False)

WEALTHQUINTILE       1489
EDUCATIONLEVEL        827
AGEGROUP              630
SEX                   630
RESIDENCEAREATYPE     626
Name: dim1type, dtype: int64

In [3]:
nutrition.dim1.value_counts(dropna=False)

YEARS00-01    315
YEARS02-05    315
FMLE          315
MLE           315
RUR           313
URB           313
SHLM          299
WQ1           298
WQ2           298
WQ4           298
WQ5           298
WQ3           297
PRLM          274
NHLM          254
Name: dim1, dtype: int64

However, we can see that there is not an even distribution of data across countries and that many countries are excluded entirely.

In [4]:
pivot = nutrition.pivot_table(index = ['parentlocation','spatialdim','timedimensionvalue'], columns=['dim1'], aggfunc = {'numericvalue':'sum'})
table = pd.DataFrame(pivot)

col_list = []
for col in table.columns:
    col_list.append(col[1])
col_list

table.columns = col_list

table = table.reset_index()

table.spatialdim.value_counts()

PER    15
SEN     9
BGD     9
GHA     7
ZWE     7
       ..
SDN     1
SOM     1
SYR     1
YEM     1
VUT     1
Name: spatialdim, Length: 103, dtype: int64